body {
	margin: 0;
	padding: 0;
}

svg{
	background-color: #C0C0C0;
}
circle{
	stroke-width: 1px;
}

.position{
	fill: #FFF;
	stroke: none;
	fill-opacity: 0;
}

.position:hover{
	stroke: yellow;
}

.white{
	fill:url(#circle-white);
	fill-opacity: 1;
}

.black {
	fill:url(#circle-black);
	fill-opacity: 1;
}

.line{
	stroke-width: 1px;
	stroke: #000;
	pointer-events: none;
}

.win{
	stroke: #00FF00;
	stroke-linecap: round;
}